
.window_boundingBox{width:500px; height:300px; border:1px solid #000000; position:fixed; box-shadow:0 0 5px rgba(0,0,0,.5);}
.window_header{padding:5px; font-size:20px; color:#ffffff; background:#333333; text-align:center;}
.window_boundingBox input{width:100px; position:absolute; left:50%; margin-left:-50px; bottom:10px;}
.window_alertBtn{width:100px; position:absolute; left:50%; margin-left:-50px; bottom:10px;}
.window_closeBtn{display:inline-block; padding:2px 10px 3px; position:absolute; top:0; right:0; font-size:24px; color:#ffffff; background:#ff3300; cursor:pointer;}